target/
**/target/
*.class
.DS_Store
**/.DS_Store
.idea/
**/.idea/
*.iml
**/*.iml
.vscode/
**/.vscode/
*.log
microservices-backend.zip

node_modules/
**/node_modules/
.angular/
**/.angular/
test-results/
playwright-report/
